.page-main {
  display: block;
  overflow: hidden;
}

.page-main__holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.page-main__wrap,
.page-main__text-wrap {
  padding: 55px 0px;
}

.page-main__sub-title span {
  color: #ed9438;
}

.page-main__link,
.page-main__title {
  color: #ed9438;
}

.page-main__title,
.page-main__count {
  margin: 0;
}

.page-main__wrap-item:nth-child(1) {
  text-align: left;
}

.page-main__wrap-item:nth-child(2) {
  text-align: right;
}

img {
  background-color: #ed9438;
  opacity: 0.2;
}

.page-main__text-wrap {
  width: 448px;
  padding: 54px 0px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.page-main__wrap ul {
  margin: 0;
  padding: 0;
  width: 400px;
  list-style: none;
}

.page-main__wrap ul li {
  margin: 0 0 20px 0;
  // width: 420px;
  position: relative;
}

.page-main__wrap ul li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -27px;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: #ed9438;
}

.page-main__container img {
  background-color: grey;
  opacity: 0.2;
}

.page-main__title {
  font-size: 20px;
  color: #ed9438;
}

.page-main__wrap-container .page-main__sub-title {
  padding: 54px 10px;
}

.page-main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.page-main__title-container {
  font-size: 30px;
  color: #ed9438;
  margin: 0;
}

.page-main__text {
  font-size: 16px;
  line-height: 18px;
  // width: 400px;
}

.page-main__wrap-container .page-main__sub-title {
  margin: 0;
}

.page-main__wrap-advantage {
  background-color: rgba(109, 109, 109, 0.659);
}

.page-main__img-wrap img {
  width: 480px;
}

@media (min-width: 768px) {
  .page-main__img-wrap img {
    width: 640px;
  }

  .page-main__wrap ul {
    width: 500px;
  }
}



@media (min-width: 1920px) {
  .page-main__holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
  }

  .page-main__wrap {
    padding: 44px 70px;
    width: 500px;
  }

  .page-main__sub-title {
    font-size: 36px;
  }


  .page-main__text {
    font-size: 20px;
    line-height: 26px;
    width: 500px;
  }

  .page-main__link {
    font-size: 20px;
    line-height: 26px;
  }

  .page-main__wrap ul {
    width: 500px;
  }

  .page-main__wrap ul li {
    margin: 0 0 20px 0;
    width: 496px;
    font-size: 20px;
    line-height: 26px;
    position: relative;
  }

  .page-main__wrap ul li::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -27px;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: #ed9438;
  }

  .page-main__title,
  .page-main__desc {
    font-size: 18px;
  }

  .page-main__count {
    font-size: 60px;
  }

  .page-main__text-wrap {
    width: 496px;
    padding: 54px 71px;
    display: flex;
    flex-direction: column;
    gap: 97px;
  }

  .page-main__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
  }

  .page-main__title-container {
    font-size: 50px;
    color: #ed9438;
  }


  .page-main__wrap-container {
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    background-color: grey;
    height: 500px;
    // opacity: 0.2;
  }

  .page-main__wrap-container .page-main__sub-title {
    padding: 54px 72px;
  }

  .page-main__button-container {
    display: flex;
    justify-content: flex-start;
  }

  .page-main__text-holder {
    padding: 40px 69px;
    width: 500px;
  }

  .page-main__link-hide {
    display: none;
  }

  .page-main__wrap-advantage {
    background-color: none;
  }

  .page-main__text-holder--border {
    border-right: 1px solid #fff3ea;
  }

  .page-main__text-holder {
    border-bottom: 1px solid #fff3ea;
  }

  .page-main__img-wrap img {
    width: 640px;
  }


}

