.page-main {
  display: block;
  overflow: hidden;
}


@media (min-width: 1920px) {
  .page-min__holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .page-min__wrap {
    padding: 44px 70px;
  }

  .page-min__sub-title {
    font-size: 36px;
  }

  .page-min__sub-title span {
    color: #ed9438;
  }

  .page-min__link {
    color: #ed9438;
  }

  .page-min__text {
    font-size: 16px;
    width: 500px;
  }

  .page-min__wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }


}

