.page-main {
  display: block;
  overflow: hidden;
}

.page-main__holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-main__wrap,
.page-main__text-wrap {
  padding: 35px 15px;
}

.page-main__sub-title span {
  color: #ed9438;
}

.page-main__wrap .page-main__sub-title {
  font-size: 24px;
  margin: 0;
}

.page-main__link,
.page-main__title {
  color: #ed9438;
}

.page-main__link {
  position: relative;
}

.page-main__link::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 80px;
  width: 50px;
  height: 20px;
  background-image: url("../img/icon-arrow.png");
  background-repeat: no-repeat;
}

.page-main__title,
.page-main__count {
  margin: 0;
}

.page-main__wrap-item:nth-child(1) {
  text-align: left;
}

.page-main__wrap-item:nth-child(2) {
  text-align: right;
}


.page-main__text-wrap {
  width: 448px;
  padding: 54px 15px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.page-main__wrap ul {
  margin: 0 0 0 40px;
  padding: 0;
  list-style: none;
}

.page-main__wrap ul li {
  margin: 0 0 20px 0;
  position: relative;
}

.page-main__wrap ul li::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -40px;
  width: 35px;
  height: 35px;
  background-image: url("../img/icon-round-list.png");
  background-repeat: no-repeat;
}

.page-main__container img {
  background-color: grey;
}

.page-main__title {
  font-size: 20px;
  color: #ed9438;
}

.page-main__wrap-container .page-main__sub-title {
  padding: 20px 15px;
}

.page-main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  background-image: url("../img/image-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(8,22,20, 0.7);
}

.page-main__container .page-main__wrap {
  background-color: white;
  padding: 30px;
  position: relative;
}

.page-main__title-container {
  font-size: 30px;
  color: #ed9438;
  margin: 0;
}

.page-main__text {
  font-size: 16px;
  line-height: 18px;
  margin: 40px 0;
}

.page-main__wrap-container .page-main__sub-title {
  margin: 0;
}

.page-main__wrap-advantage {
  background-color: rgba(8,22,20, 0.7);
}

.page-main__img-wrap img {
  width: 480px;
}

.page-main__wrap-advantage .page-main__sub-title {
  color: white;
}

.page-main__container .page-main__wrap {
  order: 2;
}

.page-main__wrap-image img {
  height: 181px;
}

.page-main__img-wrap--desktop {
  display: none;
}



.page-main__text-wrap-video {
  font-size: 24px;
  margin: 0;
}

.page-main__wrap-video {
  background-image: url("../img/image-background-video.png");
  background-repeat: no-repeat;
  width: 480px;
  height: 380px;
  position: relative;
}

.page-main__img-wrap-video {
  padding: 28px 47px;
  background-color: rgba(208,170,126, 0.8);
  width: 200px;
  margin-top: 262px;
  bottom: 0;
}

.page-main__wrap-video::after {
  content: "";
  position: absolute;
  top: 29%;
  left: 38%;
  height: 130px;
  width: 130px;
  background-image: url("../img/icon-play-video.png");
  background-repeat: no-repeat;
}

.page-main__wrap-video::before {
  content: "";
  position: absolute;
  top: 10%;
  right: 5%;
  height: 60px;
  width: 150px;
  background-image: url("../img/icon-youtube.png");
  background-repeat: no-repeat;
}

.page-main__text-wrap-video {
  font-size: 26px;
  font-weight: 200;
}

.page-main__wrap-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
}


.page-main__title {
  margin-bottom: 10px;
}

.page-main__desc {
  margin: 0;
}

.page-main__text-wrap .page-main__wrap-item:nth-child(2) {
  display: flex;
  justify-content: right;
}

@media (min-width: 768px) {
  .page-main__img-wrap img {
    width: 640px;
  }
}



@media (min-width: 1920px) {
  .page-main__holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
  }

  .page-main__wrap {
    padding: 44px 70px;
    width: 500px;
  }

  .page-main__sub-title {
    font-size: 36px;
  }


  .page-main__text {
    font-size: 20px;
    line-height: 26px;
    width: 500px;
  }

  .page-main__link {
    font-size: 20px;
    line-height: 26px;
  }

  .page-main__wrap ul {
    width: 500px;
    margin: 0;
  }

  .page-main__wrap ul li {
    margin: 0 0 20px 0;
    width: 496px;
    font-size: 20px;
    line-height: 26px;
    position: relative;
  }

  .page-main__title,
  .page-main__desc {
    font-size: 18px;
  }

  .page-main__title {
    margin-bottom: 10px;
  }

  .page-main__desc {
    margin: 0;
  }

  .page-main__count {
    font-size: 60px;
  }

  .page-main__text-wrap {
    width: 497px;
    padding: 55px 71px 54px 71px;
    display: flex;
    flex-direction: column;
    gap: 97px;
  }

  .page-main__title-container {
    font-size: 50px;
    color: #ed9438;
  }


  .page-main__wrap-container {
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    background-color: rgba(8,22,20, 0.7);
    height: 500px;
  }

  .page-main__wrap-container .page-main__sub-title {
    padding: 54px 72px;
  }

  .page-main__button-container {
    display: flex;
    justify-content: flex-start;
  }

  .page-main__text-holder {
    padding: 40px 69px 40px 70px;
    width: 500px;
  }

  .page-main__link-hide {
    display: none;
  }

  .page-main__wrap-advantage {
    background-color: rgba(8,22,20, 0.7);
  }

  .page-main__text-holder--border {
    border-right: 1px solid #fff3ea;
  }

  .page-main__text-holder {
    border-bottom: 1px solid #fff3ea;
  }

  .page-main__img-wrap img {
    width: 640px;
  }

  .page-main__wrap-image img {
    width: 1279px;
    height: 500px;
  }

  .page-main__wrap-image,
  .page-main__wrap-advantage {
    position: relative;
  }

  .page-main__wrap-image::after {
    content: "";
    top: 0;
    left: 0;
    width: 640px;
    height: 500px;
    position: absolute;
    background-color: rgba(8,22,20, 0.7);
  }

  .page-main__wrap-advantage::after {
    content: "";
    top: -500px;
    right: 0;
    width: 640px;
    height: 500px;
    position: absolute;
    background-color: rgba(8,22,20, 0.7);
  }


  .page-main__wrap-container .page-main__sub-title {
    padding: 54px 70px;
  }

  .page-main__container {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 1920px;
    height: 1000px;
    background-image: url("../img/image-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }


  .page-main__container .page-main__wrap,
  .page-main__container .page-main__wrap-advantage {
    margin-top: auto;
  }
  .page-main__container .page-main__wrap {
    background-color: white;
    padding: 70px;
  }

  .page-main__container .page-main__wrap {
    order: 0;
  }

  .page-main__container .page-main__wrap::after {
    display: none;
  }


  .page-main__img-wrap--desktop {
    display: block;
  }
  .page-main__img-wrap--mobile {
    display: none;
  }

  .page-main__wrap-video {
    position: relative;
    background-image: url("../img/image-background-video.png");
    width: 640px;
    height: 508px;
  }

  .page-main__img-wrap-video {
    padding: 38px 47px;
    background-color: rgba(208,170,126, 0.8);
    width: 240px;
    margin-top: 345px;
    position: relative;
    bottom: 0;
  }


  .page-main__wrap-video::after {
    top: 39%;
    left: 42%;
    height: 130px;
    width: 130px;
  }

  .page-main__text-wrap-video {
    font-size: 36px;
    font-weight: 200;
  }

  .page-main__link::after {
    top: -1px;
    left: 120px;
  }

  .page-main__wrap .page-main__sub-title,
  .page-main__container .page-main__wrap-advantage {
    position: relative;
  }

  .page-main__wrap .page-main__sub-title::before {
    content: "";
    position: absolute;
    top: -29px;
    left: -35px;
    height: 80px;
    width: 80px;
    background-image: url("../img/icon-d.png");
    background-repeat: no-repeat;
  }

  .page-main__container .page-main__text {
    margin: 20px 0;
  }

  .page-main__container .page-main__wrap-advantage::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 20px;
    height: 80px;
    width: 80px;
    background-image: url("../img/icon-d-orange.png");
    background-repeat: no-repeat;
  }
}

