// Colors

$basic-black: #000000;
$basic-white: #ffffff;
$basic-blue: #3366FF;
$basic-grey: #EDEDF1;//input
$basic-grey-dark: #555770;//label in input
$basic-grey-medium: #8E90A6;// placeholder in input
$basic-grey-light: #D5D5D5;// ranger 4
$basic-grey-steal: #8C8C8C;// inform under form card
$basic-grey-selver: #CFCFCF;//shadow form


// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;


//Content width

$content-mobile: 320px;
$content-tablet: 768px;
$content-desktop: 1440px;
